name: Checkmarx One Scan
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkmarx One CLI Action
        uses: checkmarx/ast-github-action@main #Github Action version
        with:
          project_name: ${{ github.repository }}
          cx_tenant: beta_nova8
          base_uri: https://eu.ast.checkmarx.net/ 
          cx_client_id: ${{ secrets.CXONE_ID }}
          cx_client_secret: ${{ secrets.CXONE_SECRET }}
